platform/metadata-framework/templates/adf_cdc.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dataFactoryName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Data Factory"
      }
    },
    "pipelineName": {
      "type": "string",
      "metadata": {
        "description": "Name of the pipeline"
      }
    },
    "sourceLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of source linked service"
      }
    },
    "sinkLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink linked service"
      }
    },
    "sourceDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of source dataset"
      }
    },
    "sinkDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink dataset"
      }
    },
    "tableName": {
      "type": "string",
      "metadata": {
        "description": "Source table name"
      }
    },
    "cdcType": {
      "type": "string",
      "allowedValues": [
        "sql_server_ct",
        "cosmos_change_feed",
        "mysql_binlog",
        "postgres_logical_replication"
      ],
      "metadata": {
        "description": "Type of Change Data Capture"
      }
    },
    "containerName": {
      "type": "string",
      "metadata": {
        "description": "Target container name"
      }
    },
    "folderPath": {
      "type": "string",
      "metadata": {
        "description": "Target folder path"
      }
    }
  },
  "variables": {
    "pipelineDefinition": {
      "name": "[parameters('pipelineName')]",
      "properties": {
        "description": "Change Data Capture pipeline generated by CSA-in-a-Box metadata framework",
        "activities": [
          {
            "name": "GetLastCDCVersion",
            "type": "Lookup",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "AzureSqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT ISNULL(MAX(LastCDCVersion), 0) AS LastCDCVersion FROM cdc_control WHERE TableName = '@{pipeline().parameters.tableName}'",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "dataset": {
                "referenceName": "[parameters('sourceDatasetName')]",
                "type": "DatasetReference"
              },
              "firstRowOnly": true
            }
          },
          {
            "name": "GetCurrentCDCVersion",
            "type": "Lookup",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() AS CurrentCDCVersion",
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "dataset": {
                "referenceName": "[parameters('sourceDatasetName')]",
                "type": "DatasetReference"
              },
              "firstRowOnly": true
            }
          },
          {
            "name": "IfChangesExist",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "GetLastCDCVersion",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "GetCurrentCDCVersion",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@greater(int(activity('GetCurrentCDCVersion').output.firstRow.CurrentCDCVersion), int(activity('GetLastCDCVersion').output.firstRow.LastCDCVersion))",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "CopyCDCData",
                  "type": "Copy",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [
                    {
                      "name": "Source",
                      "value": "[parameters('tableName')]"
                    },
                    {
                      "name": "Destination",
                      "value": "[concat(parameters('containerName'), '/', parameters('folderPath'))]"
                    }
                  ],
                  "typeProperties": {
                    "source": {
                      "type": "SqlSource",
                      "sqlReaderQuery": {
                        "value": "[if(equals(parameters('cdcType'), 'sql_server_ct'), 'SELECT t.*, c.SYS_CHANGE_OPERATION, c.SYS_CHANGE_VERSION FROM @{pipeline().parameters.tableName} t RIGHT OUTER JOIN CHANGETABLE(CHANGES @{pipeline().parameters.tableName}, @{activity(''GetLastCDCVersion'').output.firstRow.LastCDCVersion}) c ON t.id = c.id WHERE c.SYS_CHANGE_VERSION <= @{activity(''GetCurrentCDCVersion'').output.firstRow.CurrentCDCVersion}', 'SELECT * FROM @{pipeline().parameters.tableName}')]",
                        "type": "Expression"
                      },
                      "queryTimeout": "02:00:00",
                      "partitionOption": "None"
                    },
                    "sink": {
                      "type": "ParquetSink",
                      "storeSettings": {
                        "type": "AzureBlobFSWriteSettings"
                      },
                      "formatSettings": {
                        "type": "ParquetWriteSettings"
                      }
                    },
                    "enableStaging": false,
                    "translator": {
                      "type": "TabularTranslator",
                      "typeConversion": true,
                      "typeConversionSettings": {
                        "allowDataTruncation": true,
                        "treatBooleanAsNumber": false
                      }
                    }
                  },
                  "inputs": [
                    {
                      "referenceName": "[parameters('sourceDatasetName')]",
                      "type": "DatasetReference",
                      "parameters": {
                        "tableName": "[parameters('tableName')]"
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "[parameters('sinkDatasetName')]",
                      "type": "DatasetReference",
                      "parameters": {
                        "containerName": "[parameters('containerName')]",
                        "folderPath": "[parameters('folderPath')]",
                        "fileName": {
                          "value": "@concat(pipeline().parameters.tableName, '_cdc_', formatDateTime(utcnow(), 'yyyyMMdd_HHmmss'), '.parquet')",
                          "type": "Expression"
                        }
                      }
                    }
                  ]
                },
                {
                  "name": "UpdateCDCControl",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [
                    {
                      "activity": "CopyCDCData",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "storedProcedureName": "sp_UpdateCDCControl",
                    "storedProcedureParameters": {
                      "TableName": {
                        "value": {
                          "value": "@pipeline().parameters.tableName",
                          "type": "Expression"
                        },
                        "type": "String"
                      },
                      "LastCDCVersion": {
                        "value": {
                          "value": "@activity('GetCurrentCDCVersion').output.firstRow.CurrentCDCVersion",
                          "type": "Expression"
                        },
                        "type": "Int64"
                      },
                      "ProcessedTime": {
                        "value": {
                          "value": "@utcnow()",
                          "type": "Expression"
                        },
                        "type": "DateTime"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "[parameters('sourceLinkedServiceName')]",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          },
          {
            "name": "LogCDCPipelineExecution",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [
              {
                "activity": "IfChangesExist",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "sp_LogPipelineExecution",
              "storedProcedureParameters": {
                "PipelineName": {
                  "value": {
                    "value": "@pipeline().Pipeline",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "RunId": {
                  "value": {
                    "value": "@pipeline().RunId",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "Status": {
                  "value": "Success",
                  "type": "String"
                },
                "CDCType": {
                  "value": "[parameters('cdcType')]",
                  "type": "String"
                },
                "LastCDCVersion": {
                  "value": {
                    "value": "@activity('GetLastCDCVersion').output.firstRow.LastCDCVersion",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "CurrentCDCVersion": {
                  "value": {
                    "value": "@activity('GetCurrentCDCVersion').output.firstRow.CurrentCDCVersion",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "ChangesDetected": {
                  "value": {
                    "value": "@greater(int(activity('GetCurrentCDCVersion').output.firstRow.CurrentCDCVersion), int(activity('GetLastCDCVersion').output.firstRow.LastCDCVersion))",
                    "type": "Expression"
                  },
                  "type": "Boolean"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "[parameters('sourceLinkedServiceName')]",
              "type": "LinkedServiceReference"
            }
          }
        ],
        "parameters": {
          "tableName": {
            "type": "string"
          },
          "containerName": {
            "type": "string"
          },
          "folderPath": {
            "type": "string"
          }
        },
        "variables": {
          "LastCDCVersion": {
            "type": "String"
          },
          "CurrentCDCVersion": {
            "type": "String"
          }
        },
        "annotations": [
          "CDC",
          "ChangeDataCapture",
          "MetadataFramework"
        ]
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('dataFactoryName'), '/', parameters('pipelineName'))]",
      "properties": "[variables('pipelineDefinition').properties]"
    }
  ],
  "outputs": {
    "pipelineName": {
      "type": "string",
      "value": "[parameters('pipelineName')]"
    },
    "pipelineId": {
      "type": "string",
      "value": "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('dataFactoryName'), parameters('pipelineName'))]"
    }
  }
}