platform/metadata-framework/templates/adf_api_ingestion.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dataFactoryName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Data Factory"
      }
    },
    "pipelineName": {
      "type": "string",
      "metadata": {
        "description": "Name of the pipeline"
      }
    },
    "restLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of REST API linked service"
      }
    },
    "sinkLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink linked service"
      }
    },
    "restDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of REST dataset"
      }
    },
    "sinkDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink dataset"
      }
    },
    "apiBaseUrl": {
      "type": "string",
      "metadata": {
        "description": "Base URL for the REST API"
      }
    },
    "apiEndpoint": {
      "type": "string",
      "metadata": {
        "description": "API endpoint path"
      }
    },
    "paginationType": {
      "type": "string",
      "allowedValues": [
        "offset",
        "cursor",
        "page",
        "none"
      ],
      "defaultValue": "offset",
      "metadata": {
        "description": "Type of pagination supported by the API"
      }
    },
    "pageSize": {
      "type": "int",
      "defaultValue": 100,
      "metadata": {
        "description": "Number of records per page"
      }
    },
    "containerName": {
      "type": "string",
      "metadata": {
        "description": "Target container name"
      }
    },
    "folderPath": {
      "type": "string",
      "metadata": {
        "description": "Target folder path"
      }
    }
  },
  "variables": {
    "pipelineDefinition": {
      "name": "[parameters('pipelineName')]",
      "properties": {
        "description": "REST API ingestion pipeline with pagination support generated by CSA-in-a-Box metadata framework",
        "activities": [
          {
            "name": "SetInitialValues",
            "type": "SetVariable",
            "dependsOn": [],
            "userProperties": [],
            "typeProperties": {
              "variableName": "HasMorePages",
              "value": true
            }
          },
          {
            "name": "SetPageCounter",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "SetInitialValues",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "variableName": "CurrentPage",
              "value": "[if(equals(parameters('paginationType'), 'page'), '1', '0')]"
            }
          },
          {
            "name": "PaginationLoop",
            "type": "Until",
            "dependsOn": [
              {
                "activity": "SetPageCounter",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@equals(variables('HasMorePages'), false)",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "CallAPIWithPagination",
                  "type": "Copy",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [
                    {
                      "name": "Source",
                      "value": "[concat(parameters('apiBaseUrl'), parameters('apiEndpoint'))]"
                    },
                    {
                      "name": "Destination",
                      "value": "[concat(parameters('containerName'), '/', parameters('folderPath'))]"
                    }
                  ],
                  "typeProperties": {
                    "source": {
                      "type": "RestSource",
                      "httpRequestTimeout": "00:01:40",
                      "requestInterval": "00.00:00:00.010",
                      "requestMethod": "GET",
                      "additionalHeaders": {
                        "Accept": "application/json"
                      },
                      "paginationRules": {
                        "[if(equals(parameters('paginationType'), 'offset'), 'AbsoluteUrl', 'SupportRFC5988')]": {
                          "value": "[if(equals(parameters('paginationType'), 'offset'), concat('{\"endCondition\":\"$.data[0] == null\", \"nextPageUrl\":\"\", \"nextPageQuery\":{\"offset\":\"{offset}\", \"limit\":', string(parameters('pageSize')), '}}'), if(equals(parameters('paginationType'), 'page'), concat('{\"endCondition\":\"$.data[0] == null\", \"nextPageUrl\":\"\", \"nextPageQuery\":{\"page\":\"{page}\", \"size\":', string(parameters('pageSize')), '}}'), '{\"endCondition\":\"$.data[0] == null\"}'))]",
                          "type": "Expression"
                        }
                      }
                    },
                    "sink": {
                      "type": "JsonSink",
                      "storeSettings": {
                        "type": "AzureBlobFSWriteSettings"
                      },
                      "formatSettings": {
                        "type": "JsonWriteSettings"
                      }
                    },
                    "enableStaging": false,
                    "translator": {
                      "type": "TabularTranslator",
                      "mappings": [
                        {
                          "source": {
                            "path": "$['*']"
                          },
                          "sink": {
                            "path": "$['data']"
                          }
                        }
                      ],
                      "collectionReference": "$['data']"
                    }
                  },
                  "inputs": [
                    {
                      "referenceName": "[parameters('restDatasetName')]",
                      "type": "DatasetReference",
                      "parameters": {
                        "relativeURL": {
                          "value": "[if(equals(parameters('paginationType'), 'offset'), concat('@{pipeline().parameters.apiEndpoint}?offset=@{variables(''CurrentPage'')}&limit=', string(parameters('pageSize'))), if(equals(parameters('paginationType'), 'page'), concat('@{pipeline().parameters.apiEndpoint}?page=@{variables(''CurrentPage'')}&size=', string(parameters('pageSize'))), '@{pipeline().parameters.apiEndpoint}'))]",
                          "type": "Expression"
                        }
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "[parameters('sinkDatasetName')]",
                      "type": "DatasetReference",
                      "parameters": {
                        "containerName": "[parameters('containerName')]",
                        "folderPath": "[parameters('folderPath')]",
                        "fileName": {
                          "value": "@concat(pipeline().parameters.apiEndpoint, '_page_', variables('CurrentPage'), '_', formatDateTime(utcnow(), 'yyyyMMdd_HHmmss'), '.json')",
                          "type": "Expression"
                        }
                      }
                    }
                  ]
                },
                {
                  "name": "CheckForMoreData",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "CallAPIWithPagination",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "typeProperties": {
                    "expression": {
                      "value": "@greater(activity('CallAPIWithPagination').output.rowsCopied, 0)",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "IncrementPage",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                          "variableName": "CurrentPage",
                          "value": {
                            "value": "@string(add(int(variables('CurrentPage')), if(equals(pipeline().parameters.paginationType, 'page'), 1, pipeline().parameters.pageSize)))",
                            "type": "Expression"
                          }
                        }
                      }
                    ],
                    "ifFalseActivities": [
                      {
                        "name": "SetHasMorePagesFalse",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                          "variableName": "HasMorePages",
                          "value": false
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "CheckPageLimit",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "CheckForMoreData",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "typeProperties": {
                    "expression": {
                      "value": "@greater(int(variables('CurrentPage')), 1000)",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "SetPageLimitReached",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                          "variableName": "HasMorePages",
                          "value": false
                        }
                      }
                    ]
                  }
                }
              ],
              "timeout": "7.00:00:00"
            }
          },
          {
            "name": "LogAPIIngestionSuccess",
            "type": "Script",
            "dependsOn": [
              {
                "activity": "PaginationLoop",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "linkedServiceName": {
              "referenceName": "[parameters('sinkLinkedServiceName')]",
              "type": "LinkedServiceReference"
            },
            "typeProperties": {
              "scripts": [
                {
                  "type": "Query",
                  "text": {
                    "value": "INSERT INTO pipeline_execution_log (PipelineName, RunId, Status, API_Endpoint, Pages_Processed, Execution_Time) VALUES ('@{pipeline().Pipeline}', '@{pipeline().RunId}', 'Success', '@{pipeline().parameters.apiEndpoint}', '@{variables('CurrentPage')}', '@{utcnow()}')",
                    "type": "Expression"
                  }
                }
              ]
            }
          }
        ],
        "parameters": {
          "apiEndpoint": {
            "type": "string"
          },
          "paginationType": {
            "type": "string",
            "defaultValue": "[parameters('paginationType')]"
          },
          "pageSize": {
            "type": "int",
            "defaultValue": "[parameters('pageSize')]"
          },
          "containerName": {
            "type": "string"
          },
          "folderPath": {
            "type": "string"
          }
        },
        "variables": {
          "CurrentPage": {
            "type": "String",
            "defaultValue": "0"
          },
          "HasMorePages": {
            "type": "Boolean",
            "defaultValue": true
          },
          "TotalRecords": {
            "type": "String",
            "defaultValue": "0"
          }
        },
        "annotations": [
          "RestAPI",
          "Pagination",
          "MetadataFramework"
        ]
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('dataFactoryName'), '/', parameters('pipelineName'))]",
      "properties": "[variables('pipelineDefinition').properties]"
    }
  ],
  "outputs": {
    "pipelineName": {
      "type": "string",
      "value": "[parameters('pipelineName')]"
    },
    "pipelineId": {
      "type": "string",
      "value": "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('dataFactoryName'), parameters('pipelineName'))]"
    }
  }
}