csa_platform/metadata_framework/templates/adf_batch_copy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dataFactoryName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Data Factory"
      }
    },
    "pipelineName": {
      "type": "string",
      "metadata": {
        "description": "Name of the pipeline"
      }
    },
    "sourceLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of source linked service"
      }
    },
    "sinkLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink linked service"
      }
    },
    "sourceDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of source dataset"
      }
    },
    "sinkDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink dataset"
      }
    },
    "tableName": {
      "type": "string",
      "metadata": {
        "description": "Source table name"
      }
    },
    "containerName": {
      "type": "string",
      "metadata": {
        "description": "Target container name"
      }
    },
    "folderPath": {
      "type": "string",
      "metadata": {
        "description": "Target folder path"
      }
    },
    "parallelCopies": {
      "type": "int",
      "defaultValue": 4,
      "metadata": {
        "description": "Number of parallel copies"
      }
    },
    "copyBehavior": {
      "type": "string",
      "defaultValue": "PreserveHierarchy",
      "allowedValues": [
        "PreserveHierarchy",
        "FlattenHierarchy",
        "MergeFiles"
      ],
      "metadata": {
        "description": "Copy behavior"
      }
    }
  },
  "variables": {
    "pipelineDefinition": {
      "name": "[parameters('pipelineName')]",
      "properties": {
        "description": "Full load batch copy pipeline generated by CSA-in-a-Box metadata framework",
        "activities": [
          {
            "name": "GetTableMetadata",
            "type": "GetMetadata",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "dataset": {
                "referenceName": "[parameters('sourceDatasetName')]",
                "type": "DatasetReference"
              },
              "fieldList": [
                "columnCount",
                "size",
                "exists"
              ]
            }
          },
          {
            "name": "CopyTableData",
            "type": "Copy",
            "dependsOn": [
              {
                "activity": "GetTableMetadata",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [
              {
                "name": "Source",
                "value": "[parameters('tableName')]"
              },
              {
                "name": "Destination",
                "value": "[concat(parameters('containerName'), '/', parameters('folderPath'))]"
              }
            ],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "sink": {
                "type": "DelimitedTextSink",
                "storeSettings": {
                  "type": "AzureBlobFSWriteSettings",
                  "copyBehavior": "[parameters('copyBehavior')]"
                },
                "formatSettings": {
                  "type": "DelimitedTextWriteSettings",
                  "quoteAllText": false,
                  "fileExtension": ".txt"
                }
              },
              "enableStaging": false,
              "parallelCopies": "[parameters('parallelCopies')]",
              "dataIntegrationUnits": 0,
              "translator": {
                "type": "TabularTranslator",
                "typeConversion": true,
                "typeConversionSettings": {
                  "allowDataTruncation": true,
                  "treatBooleanAsNumber": false
                }
              }
            },
            "inputs": [
              {
                "referenceName": "[parameters('sourceDatasetName')]",
                "type": "DatasetReference",
                "parameters": {
                  "tableName": "[parameters('tableName')]"
                }
              }
            ],
            "outputs": [
              {
                "referenceName": "[parameters('sinkDatasetName')]",
                "type": "DatasetReference",
                "parameters": {
                  "containerName": "[parameters('containerName')]",
                  "folderPath": "[parameters('folderPath')]",
                  "fileName": {
                    "value": "@concat(parameters('tableName'), '_', formatDateTime(utcnow(), 'yyyyMMdd_HHmmss'), '.parquet')",
                    "type": "Expression"
                  }
                }
              }
            ]
          },
          {
            "name": "LogCopySuccess",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [
              {
                "activity": "CopyTableData",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "sp_LogPipelineExecution",
              "storedProcedureParameters": {
                "PipelineName": {
                  "value": {
                    "value": "@pipeline().Pipeline",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "RunId": {
                  "value": {
                    "value": "@pipeline().RunId",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "Status": {
                  "value": "Success",
                  "type": "String"
                },
                "RowsCopied": {
                  "value": {
                    "value": "@activity('CopyTableData').output.rowsCopied",
                    "type": "Expression"
                  },
                  "type": "Int64"
                },
                "DataRead": {
                  "value": {
                    "value": "@activity('CopyTableData').output.dataRead",
                    "type": "Expression"
                  },
                  "type": "Int64"
                },
                "DataWritten": {
                  "value": {
                    "value": "@activity('CopyTableData').output.dataWritten",
                    "type": "Expression"
                  },
                  "type": "Int64"
                },
                "CopyDurationInSeconds": {
                  "value": {
                    "value": "@activity('CopyTableData').output.copyDuration",
                    "type": "Expression"
                  },
                  "type": "Int32"
                },
                "EffectiveIntegrationRuntime": {
                  "value": {
                    "value": "@activity('CopyTableData').output.effectiveIntegrationRuntime",
                    "type": "Expression"
                  },
                  "type": "String"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "[parameters('sourceLinkedServiceName')]",
              "type": "LinkedServiceReference"
            }
          }
        ],
        "parameters": {
          "tableName": {
            "type": "string"
          },
          "containerName": {
            "type": "string"
          },
          "folderPath": {
            "type": "string"
          }
        },
        "variables": {
          "CopyStartTime": {
            "type": "String"
          }
        },
        "annotations": [
          "BatchCopy",
          "FullLoad",
          "MetadataFramework"
        ]
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('dataFactoryName'), '/', parameters('pipelineName'))]",
      "properties": "[variables('pipelineDefinition').properties]"
    }
  ],
  "outputs": {
    "pipelineName": {
      "type": "string",
      "value": "[parameters('pipelineName')]"
    },
    "pipelineId": {
      "type": "string",
      "value": "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('dataFactoryName'), parameters('pipelineName'))]"
    }
  }
}