csa_platform/metadata_framework/templates/adf_streaming.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dataFactoryName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Data Factory"
      }
    },
    "pipelineName": {
      "type": "string",
      "metadata": {
        "description": "Name of the pipeline"
      }
    },
    "eventHubLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of Event Hub linked service"
      }
    },
    "sinkLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink linked service"
      }
    },
    "eventHubDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of Event Hub dataset"
      }
    },
    "sinkDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink dataset"
      }
    },
    "eventHubName": {
      "type": "string",
      "metadata": {
        "description": "Event Hub name"
      }
    },
    "consumerGroup": {
      "type": "string",
      "defaultValue": "$Default",
      "metadata": {
        "description": "Consumer group for Event Hub"
      }
    },
    "containerName": {
      "type": "string",
      "metadata": {
        "description": "Target container name"
      }
    },
    "folderPath": {
      "type": "string",
      "metadata": {
        "description": "Target folder path"
      }
    },
    "windowSize": {
      "type": "string",
      "defaultValue": "PT5M",
      "metadata": {
        "description": "Tumbling window size (ISO 8601 duration)"
      }
    }
  },
  "variables": {
    "pipelineDefinition": {
      "name": "[parameters('pipelineName')]",
      "properties": {
        "description": "Streaming ingestion pipeline for Event Hub data generated by CSA-in-a-Box metadata framework",
        "activities": [
          {
            "name": "CopyStreamData",
            "type": "Copy",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [
              {
                "name": "Source",
                "value": "[parameters('eventHubName')]"
              },
              {
                "name": "Destination",
                "value": "[concat(parameters('containerName'), '/', parameters('folderPath'))]"
              }
            ],
            "typeProperties": {
              "source": {
                "type": "EventHubSource",
                "consumerGroup": "[parameters('consumerGroup')]",
                "eventPosition": {
                  "startOfStream": false,
                  "endOfStream": false,
                  "enqueuedTime": {
                    "value": "@pipeline().TriggerTime",
                    "type": "Expression"
                  }
                }
              },
              "sink": {
                "type": "ParquetSink",
                "storeSettings": {
                  "type": "AzureBlobFSWriteSettings"
                },
                "formatSettings": {
                  "type": "ParquetWriteSettings"
                }
              },
              "enableStaging": false,
              "translator": {
                "type": "TabularTranslator",
                "mappings": [
                  {
                    "source": {
                      "path": "$['Body']"
                    },
                    "sink": {
                      "name": "EventData",
                      "type": "String"
                    }
                  },
                  {
                    "source": {
                      "path": "$['Properties']['EventHubName']"
                    },
                    "sink": {
                      "name": "EventHubName",
                      "type": "String"
                    }
                  },
                  {
                    "source": {
                      "path": "$['Properties']['PartitionKey']"
                    },
                    "sink": {
                      "name": "PartitionKey",
                      "type": "String"
                    }
                  },
                  {
                    "source": {
                      "path": "$['Properties']['SequenceNumber']"
                    },
                    "sink": {
                      "name": "SequenceNumber",
                      "type": "Int64"
                    }
                  },
                  {
                    "source": {
                      "path": "$['Properties']['EnqueuedTimeUtc']"
                    },
                    "sink": {
                      "name": "EnqueuedTimeUtc",
                      "type": "DateTime"
                    }
                  },
                  {
                    "source": {
                      "path": "$['Properties']['Offset']"
                    },
                    "sink": {
                      "name": "Offset",
                      "type": "String"
                    }
                  }
                ],
                "typeConversion": true,
                "typeConversionSettings": {
                  "allowDataTruncation": true,
                  "treatBooleanAsNumber": false
                }
              }
            },
            "inputs": [
              {
                "referenceName": "[parameters('eventHubDatasetName')]",
                "type": "DatasetReference",
                "parameters": {
                  "eventHubName": "[parameters('eventHubName')]",
                  "consumerGroup": "[parameters('consumerGroup')]"
                }
              }
            ],
            "outputs": [
              {
                "referenceName": "[parameters('sinkDatasetName')]",
                "type": "DatasetReference",
                "parameters": {
                  "containerName": "[parameters('containerName')]",
                  "folderPath": "[parameters('folderPath')]",
                  "fileName": {
                    "value": "@concat(pipeline().parameters.eventHubName, '_', formatDateTime(pipeline().TriggerTime, 'yyyyMMdd'), '/', formatDateTime(pipeline().TriggerTime, 'HHmm'), '.parquet')",
                    "type": "Expression"
                  }
                }
              }
            ]
          },
          {
            "name": "DataQualityValidation",
            "type": "Script",
            "dependsOn": [
              {
                "activity": "CopyStreamData",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "linkedServiceName": {
              "referenceName": "[parameters('sinkLinkedServiceName')]",
              "type": "LinkedServiceReference"
            },
            "typeProperties": {
              "scripts": [
                {
                  "type": "Query",
                  "text": {
                    "value": "-- Basic data quality checks for streaming data\nSELECT \n  COUNT(*) as TotalRecords,\n  COUNT(CASE WHEN EventData IS NULL OR EventData = '' THEN 1 END) as NullEventData,\n  COUNT(CASE WHEN EnqueuedTimeUtc IS NULL THEN 1 END) as NullTimestamp,\n  MIN(EnqueuedTimeUtc) as EarliestEvent,\n  MAX(EnqueuedTimeUtc) as LatestEvent\nFROM OPENROWSET(\n    BULK '@{activity('CopyStreamData').output.sinkFilePath}',\n    FORMAT = 'PARQUET'\n) AS streaming_data",
                    "type": "Expression"
                  }
                }
              ]
            }
          },
          {
            "name": "CheckDataQuality",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "DataQualityValidation",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@greater(activity('DataQualityValidation').output.resultSets[0].rows[0][1], div(activity('DataQualityValidation').output.resultSets[0].rows[0][0], 10))",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "QuarantineData",
                  "type": "Copy",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "source": {
                      "type": "ParquetSource",
                      "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                      }
                    },
                    "sink": {
                      "type": "ParquetSink",
                      "storeSettings": {
                        "type": "AzureBlobFSWriteSettings"
                      },
                      "formatSettings": {
                        "type": "ParquetWriteSettings"
                      }
                    },
                    "enableStaging": false
                  },
                  "inputs": [
                    {
                      "referenceName": "[parameters('sinkDatasetName')]",
                      "type": "DatasetReference",
                      "parameters": {
                        "containerName": "[parameters('containerName')]",
                        "folderPath": "[parameters('folderPath')]"
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "[parameters('sinkDatasetName')]",
                      "type": "DatasetReference",
                      "parameters": {
                        "containerName": "[parameters('containerName')]",
                        "folderPath": "quarantine"
                      }
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "LogStreamingExecution",
            "type": "Script",
            "dependsOn": [
              {
                "activity": "CheckDataQuality",
                "dependencyConditions": [
                  "Completed"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "linkedServiceName": {
              "referenceName": "[parameters('sinkLinkedServiceName')]",
              "type": "LinkedServiceReference"
            },
            "typeProperties": {
              "scripts": [
                {
                  "type": "Query",
                  "text": {
                    "value": "INSERT INTO streaming_execution_log (\n  PipelineName, \n  RunId, \n  EventHubName, \n  WindowStart, \n  WindowEnd, \n  RecordsProcessed, \n  DataQualityScore, \n  ExecutionTime,\n  Status\n) VALUES (\n  '@{pipeline().Pipeline}', \n  '@{pipeline().RunId}', \n  '@{pipeline().parameters.eventHubName}', \n  '@{pipeline().TriggerTime}', \n  '@{addMinutes(pipeline().TriggerTime, 5)}', \n  '@{activity('CopyStreamData').output.rowsCopied}', \n  '@{if(greater(activity('DataQualityValidation').output.resultSets[0].rows[0][1], div(activity('DataQualityValidation').output.resultSets[0].rows[0][0], 10)), 'Poor', 'Good')}',\n  '@{utcnow()}',\n  'Success'\n)",
                    "type": "Expression"
                  }
                }
              ]
            }
          }
        ],
        "parameters": {
          "eventHubName": {
            "type": "string"
          },
          "consumerGroup": {
            "type": "string",
            "defaultValue": "[parameters('consumerGroup')]"
          },
          "containerName": {
            "type": "string"
          },
          "folderPath": {
            "type": "string"
          },
          "windowSize": {
            "type": "string",
            "defaultValue": "[parameters('windowSize')]"
          }
        },
        "variables": {
          "WindowStart": {
            "type": "String"
          },
          "WindowEnd": {
            "type": "String"
          },
          "ProcessedRecords": {
            "type": "String"
          }
        },
        "annotations": [
          "Streaming",
          "EventHub",
          "RealTime",
          "MetadataFramework"
        ]
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('dataFactoryName'), '/', parameters('pipelineName'))]",
      "properties": "[variables('pipelineDefinition').properties]"
    }
  ],
  "outputs": {
    "pipelineName": {
      "type": "string",
      "value": "[parameters('pipelineName')]"
    },
    "pipelineId": {
      "type": "string",
      "value": "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('dataFactoryName'), parameters('pipelineName'))]"
    }
  }
}