csa_platform/metadata_framework/templates/adf_incremental.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dataFactoryName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Data Factory"
      }
    },
    "pipelineName": {
      "type": "string",
      "metadata": {
        "description": "Name of the pipeline"
      }
    },
    "sourceLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of source linked service"
      }
    },
    "sinkLinkedServiceName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink linked service"
      }
    },
    "sourceDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of source dataset"
      }
    },
    "sinkDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of sink dataset"
      }
    },
    "controlDatasetName": {
      "type": "string",
      "metadata": {
        "description": "Name of control dataset for watermark"
      }
    },
    "tableName": {
      "type": "string",
      "metadata": {
        "description": "Source table name"
      }
    },
    "watermarkColumnName": {
      "type": "string",
      "metadata": {
        "description": "Watermark column name"
      }
    },
    "containerName": {
      "type": "string",
      "metadata": {
        "description": "Target container name"
      }
    },
    "folderPath": {
      "type": "string",
      "metadata": {
        "description": "Target folder path"
      }
    }
  },
  "variables": {
    "pipelineDefinition": {
      "name": "[parameters('pipelineName')]",
      "properties": {
        "description": "Incremental load pipeline with watermark generated by CSA-in-a-Box metadata framework",
        "activities": [
          {
            "name": "LookupOldWaterMarkValue",
            "type": "Lookup",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "AzureSqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT WatermarkValue FROM watermarktable WHERE TableName = '@{pipeline().parameters.tableName}'",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "dataset": {
                "referenceName": "[parameters('controlDatasetName')]",
                "type": "DatasetReference"
              }
            }
          },
          {
            "name": "LookupNewWaterMarkValue",
            "type": "Lookup",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT MAX(@{pipeline().parameters.watermarkColumnName}) AS NewWatermarkValue FROM @{pipeline().parameters.tableName}",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "dataset": {
                "referenceName": "[parameters('sourceDatasetName')]",
                "type": "DatasetReference",
                "parameters": {
                  "tableName": "[parameters('tableName')]"
                }
              }
            }
          },
          {
            "name": "IncrementalCopyActivity",
            "type": "Copy",
            "dependsOn": [
              {
                "activity": "LookupOldWaterMarkValue",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "LookupNewWaterMarkValue",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [
              {
                "name": "Source",
                "value": "[parameters('tableName')]"
              },
              {
                "name": "Destination",
                "value": "[concat(parameters('containerName'), '/', parameters('folderPath'))]"
              }
            ],
            "typeProperties": {
              "source": {
                "type": "SqlSource",
                "sqlReaderQuery": {
                  "value": "SELECT * FROM @{pipeline().parameters.tableName} WHERE @{pipeline().parameters.watermarkColumnName} > '@{activity('LookupOldWaterMarkValue').output.firstRow.WatermarkValue}' AND @{pipeline().parameters.watermarkColumnName} <= '@{activity('LookupNewWaterMarkValue').output.firstRow.NewWatermarkValue}'",
                  "type": "Expression"
                },
                "queryTimeout": "02:00:00",
                "partitionOption": "None"
              },
              "sink": {
                "type": "ParquetSink",
                "storeSettings": {
                  "type": "AzureBlobFSWriteSettings"
                },
                "formatSettings": {
                  "type": "ParquetWriteSettings"
                }
              },
              "enableStaging": false,
              "translator": {
                "type": "TabularTranslator",
                "typeConversion": true,
                "typeConversionSettings": {
                  "allowDataTruncation": true,
                  "treatBooleanAsNumber": false
                }
              }
            },
            "inputs": [
              {
                "referenceName": "[parameters('sourceDatasetName')]",
                "type": "DatasetReference",
                "parameters": {
                  "tableName": "[parameters('tableName')]"
                }
              }
            ],
            "outputs": [
              {
                "referenceName": "[parameters('sinkDatasetName')]",
                "type": "DatasetReference",
                "parameters": {
                  "containerName": "[parameters('containerName')]",
                  "folderPath": "[parameters('folderPath')]",
                  "fileName": {
                    "value": "@concat(pipeline().parameters.tableName, '_incremental_', formatDateTime(utcnow(), 'yyyyMMdd_HHmmss'), '.parquet')",
                    "type": "Expression"
                  }
                }
              }
            ]
          },
          {
            "name": "UpdateWaterMarkValue",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [
              {
                "activity": "IncrementalCopyActivity",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "sp_UpdateWatermark",
              "storedProcedureParameters": {
                "LastModifiedtime": {
                  "value": {
                    "value": "@activity('LookupNewWaterMarkValue').output.firstRow.NewWatermarkValue",
                    "type": "Expression"
                  },
                  "type": "DateTime"
                },
                "TableName": {
                  "value": {
                    "value": "@pipeline().parameters.tableName",
                    "type": "Expression"
                  },
                  "type": "String"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "[parameters('sourceLinkedServiceName')]",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "LogIncrementalCopySuccess",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [
              {
                "activity": "UpdateWaterMarkValue",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "sp_LogPipelineExecution",
              "storedProcedureParameters": {
                "PipelineName": {
                  "value": {
                    "value": "@pipeline().Pipeline",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "RunId": {
                  "value": {
                    "value": "@pipeline().RunId",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "Status": {
                  "value": "Success",
                  "type": "String"
                },
                "RowsCopied": {
                  "value": {
                    "value": "@activity('IncrementalCopyActivity').output.rowsCopied",
                    "type": "Expression"
                  },
                  "type": "Int64"
                },
                "DataRead": {
                  "value": {
                    "value": "@activity('IncrementalCopyActivity').output.dataRead",
                    "type": "Expression"
                  },
                  "type": "Int64"
                },
                "DataWritten": {
                  "value": {
                    "value": "@activity('IncrementalCopyActivity').output.dataWritten",
                    "type": "Expression"
                  },
                  "type": "Int64"
                },
                "WatermarkValue": {
                  "value": {
                    "value": "@activity('LookupNewWaterMarkValue').output.firstRow.NewWatermarkValue",
                    "type": "Expression"
                  },
                  "type": "String"
                },
                "CopyDurationInSeconds": {
                  "value": {
                    "value": "@activity('IncrementalCopyActivity').output.copyDuration",
                    "type": "Expression"
                  },
                  "type": "Int32"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "[parameters('sourceLinkedServiceName')]",
              "type": "LinkedServiceReference"
            }
          }
        ],
        "parameters": {
          "tableName": {
            "type": "string"
          },
          "watermarkColumnName": {
            "type": "string"
          },
          "containerName": {
            "type": "string"
          },
          "folderPath": {
            "type": "string"
          }
        },
        "variables": {
          "OldWatermarkValue": {
            "type": "String"
          },
          "NewWatermarkValue": {
            "type": "String"
          }
        },
        "annotations": [
          "IncrementalLoad",
          "Watermark",
          "MetadataFramework"
        ]
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('dataFactoryName'), '/', parameters('pipelineName'))]",
      "properties": "[variables('pipelineDefinition').properties]"
    }
  ],
  "outputs": {
    "pipelineName": {
      "type": "string",
      "value": "[parameters('pipelineName')]"
    },
    "pipelineId": {
      "type": "string",
      "value": "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('dataFactoryName'), parameters('pipelineName'))]"
    }
  }
}