portal/powerapps/logic-apps/approval-workflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "la-csa-approval-workflow",
      "metadata": {
        "description": "Name of the Logic App for access approval workflow."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App."
      }
    },
    "cosmosDbAccountName": {
      "type": "string",
      "metadata": {
        "description": "Cosmos DB account name for storing access requests."
      }
    },
    "cosmosDbDatabaseName": {
      "type": "string",
      "defaultValue": "csainabox",
      "metadata": {
        "description": "Cosmos DB database name."
      }
    },
    "approverEmail": {
      "type": "string",
      "metadata": {
        "description": "Email address of the approver."
      }
    }
  },
  "variables": {
    "cosmosDbConnectionName": "[concat('cosmosdb-', parameters('logicAppName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('logicAppName'))]",
    "approvalConnectionName": "[concat('approvals-', parameters('logicAppName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('cosmosDbConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Cosmos DB Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'documentdb')]"
        },
        "parameterValues": {
          "databaseAccount": "[parameters('cosmosDbAccountName')]",
          "accessKey": "[listKeys(resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName')), '2023-04-15').primaryMasterKey]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "project": "csa-inabox",
        "component": "portal",
        "workflow": "approval"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('cosmosDbConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": { "type": "string" },
                    "requester_email": { "type": "string" },
                    "data_product_id": { "type": "string" },
                    "data_product_name": { "type": "string" },
                    "justification": { "type": "string" },
                    "access_level": { "type": "string" },
                    "duration_days": { "type": "integer" }
                  },
                  "required": ["request_id", "requester_email", "data_product_id", "justification"]
                },
                "method": "POST"
              }
            }
          },
          "actions": {
            "Send_Approval_Email": {
              "type": "ApiConnection",
              "runAfter": {},
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "[parameters('approverEmail')]",
                  "Subject": "CSA-in-a-Box: Access Request Approval Required - @{triggerBody()?['data_product_name']}",
                  "Body": "<h2>Access Request Pending Approval</h2><p><strong>Requester:</strong> @{triggerBody()?['requester_email']}</p><p><strong>Data Product:</strong> @{triggerBody()?['data_product_name']} (@{triggerBody()?['data_product_id']})</p><p><strong>Access Level:</strong> @{triggerBody()?['access_level']}</p><p><strong>Duration:</strong> @{triggerBody()?['duration_days']} days</p><p><strong>Justification:</strong></p><p>@{triggerBody()?['justification']}</p><hr/><p>Please reply with APPROVE or DENY to process this request.</p><p><a href='@{concat(\"https://portal.csainabox.local/access/\", triggerBody()?[\"request_id\"], \"/approve\")}'>Approve</a> | <a href='@{concat(\"https://portal.csainabox.local/access/\", triggerBody()?[\"request_id\"], \"/deny\")}'>Deny</a></p>",
                  "Importance": "High"
                }
              }
            },
            "Wait_for_Approval_Response": {
              "type": "Wait",
              "runAfter": {
                "Send_Approval_Email": ["Succeeded"]
              },
              "inputs": {
                "interval": {
                  "count": 7,
                  "unit": "Day"
                }
              }
            },
            "Update_Request_Status": {
              "type": "ApiConnection",
              "runAfter": {
                "Wait_for_Approval_Response": ["Succeeded", "TimedOut"]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "put",
                "path": "[concat('/v2/cosmosdb/', parameters('cosmosDbAccountName'), '/dbs/', parameters('cosmosDbDatabaseName'), '/colls/access-requests/docs/', '@{triggerBody()?[''request_id'']}')]",
                "body": {
                  "id": "@triggerBody()?['request_id']",
                  "status": "approved",
                  "reviewed_at": "@utcNow()",
                  "reviewed_by": "[parameters('approverEmail')]"
                }
              }
            },
            "Send_Result_Notification": {
              "type": "ApiConnection",
              "runAfter": {
                "Update_Request_Status": ["Succeeded"]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "@{triggerBody()?['requester_email']}",
                  "Subject": "CSA-in-a-Box: Access Request Update - @{triggerBody()?['data_product_name']}",
                  "Body": "<h2>Access Request Processed</h2><p>Your access request for <strong>@{triggerBody()?['data_product_name']}</strong> has been processed.</p><p>Check the portal for details.</p>",
                  "Importance": "Normal"
                }
              }
            },
            "Final_Response": {
              "type": "Response",
              "runAfter": {
                "Send_Result_Notification": ["Succeeded"]
              },
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "request_id": "@triggerBody()?['request_id']",
                  "status": "processed",
                  "message": "Approval workflow completed."
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('cosmosDbConnectionName'))]",
                "connectionName": "[variables('cosmosDbConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'documentdb')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppCallbackUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_HTTP_request_is_received'), '2019-05-01').value]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    }
  }
}
