portal/powerapps/logic-apps/notification-workflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "la-csa-notification",
      "metadata": {
        "description": "Name of the Logic App for event-driven notifications."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App."
      }
    },
    "eventGridTopicEndpoint": {
      "type": "string",
      "metadata": {
        "description": "Event Grid topic endpoint for portal events."
      }
    },
    "teamsWebhookUrl": {
      "type": "securestring",
      "metadata": {
        "description": "Microsoft Teams incoming webhook URL for notifications."
      }
    },
    "notificationEmail": {
      "type": "string",
      "metadata": {
        "description": "Fallback email address for critical notifications."
      }
    }
  },
  "variables": {
    "eventGridConnectionName": "[concat('eventgrid-', parameters('logicAppName'))]",
    "teamsConnectionName": "[concat('teams-', parameters('logicAppName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('logicAppName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('teamsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Teams Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "project": "csa-inabox",
        "component": "portal",
        "workflow": "notification"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "teamsWebhookUrl": {
              "defaultValue": "",
              "type": "SecureString"
            }
          },
          "triggers": {
            "When_an_Event_Grid_event_occurs": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['eventgrid']['connectionId']"
                  }
                },
                "body": {
                  "properties": {
                    "topic": "[parameters('eventGridTopicEndpoint')]",
                    "destination": {
                      "endpointType": "WebHook",
                      "properties": {
                        "endpointUrl": "@listCallbackUrl()"
                      }
                    },
                    "filter": {
                      "includedEventTypes": [
                        "CSA.Portal.SourceRegistered",
                        "CSA.Portal.PipelineFailed",
                        "CSA.Portal.AccessRequestCreated",
                        "CSA.Portal.QualityAlert"
                      ]
                    }
                  }
                },
                "path": "/subscriptions/@{encodeURIComponent('default')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Topics')}/resource/eventSubscriptions",
                "queries": {
                  "x-ms-api-version": "2017-09-15-preview"
                }
              }
            }
          },
          "actions": {
            "Parse_Event_Data": {
              "type": "ParseJson",
              "runAfter": {},
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "eventType": { "type": "string" },
                    "subject": { "type": "string" },
                    "eventTime": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": { "type": "string" },
                        "message": { "type": "string" },
                        "severity": { "type": "string" },
                        "resourceId": { "type": "string" },
                        "owner": { "type": "string" }
                      }
                    }
                  }
                }
              }
            },
            "Determine_Severity": {
              "type": "InitializeVariable",
              "runAfter": {
                "Parse_Event_Data": ["Succeeded"]
              },
              "inputs": {
                "variables": [
                  {
                    "name": "severity",
                    "type": "string",
                    "value": "@coalesce(body('Parse_Event_Data')?['data']?['severity'], 'info')"
                  }
                ]
              }
            },
            "Build_Adaptive_Card": {
              "type": "Compose",
              "runAfter": {
                "Determine_Severity": ["Succeeded"]
              },
              "inputs": {
                "type": "message",
                "attachments": [
                  {
                    "contentType": "application/vnd.microsoft.card.adaptive",
                    "contentUrl": null,
                    "content": {
                      "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                      "type": "AdaptiveCard",
                      "version": "1.4",
                      "body": [
                        {
                          "type": "TextBlock",
                          "text": "CSA-in-a-Box Portal Notification",
                          "weight": "Bolder",
                          "size": "Medium",
                          "color": "@{if(equals(variables('severity'), 'critical'), 'Attention', if(equals(variables('severity'), 'warning'), 'Warning', 'Default'))}"
                        },
                        {
                          "type": "FactSet",
                          "facts": [
                            { "title": "Event", "value": "@{body('Parse_Event_Data')?['eventType']}" },
                            { "title": "Title", "value": "@{body('Parse_Event_Data')?['data']?['title']}" },
                            { "title": "Severity", "value": "@{variables('severity')}" },
                            { "title": "Time", "value": "@{body('Parse_Event_Data')?['eventTime']}" }
                          ]
                        },
                        {
                          "type": "TextBlock",
                          "text": "@{body('Parse_Event_Data')?['data']?['message']}",
                          "wrap": true
                        }
                      ],
                      "actions": [
                        {
                          "type": "Action.OpenUrl",
                          "title": "View in Portal",
                          "url": "https://portal.csainabox.local"
                        }
                      ]
                    }
                  }
                ]
              }
            },
            "Post_Teams_Notification": {
              "type": "Http",
              "runAfter": {
                "Build_Adaptive_Card": ["Succeeded"]
              },
              "inputs": {
                "method": "POST",
                "uri": "@parameters('teamsWebhookUrl')",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": "@outputs('Build_Adaptive_Card')"
              }
            },
            "Condition_Critical_Alert": {
              "type": "If",
              "runAfter": {
                "Post_Teams_Notification": ["Succeeded", "Failed"]
              },
              "expression": {
                "or": [
                  { "equals": ["@variables('severity')", "critical"] },
                  { "equals": ["@body('Parse_Event_Data')?['eventType']", "CSA.Portal.PipelineFailed"] }
                ]
              },
              "actions": {
                "Send_Critical_Email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "[parameters('notificationEmail')]",
                      "Subject": "CRITICAL: CSA-in-a-Box - @{body('Parse_Event_Data')?['data']?['title']}",
                      "Body": "<h2 style='color: red;'>Critical Alert</h2><p><strong>Event:</strong> @{body('Parse_Event_Data')?['eventType']}</p><p><strong>Message:</strong> @{body('Parse_Event_Data')?['data']?['message']}</p><p><strong>Resource:</strong> @{body('Parse_Event_Data')?['data']?['resourceId']}</p><p><strong>Time:</strong> @{body('Parse_Event_Data')?['eventTime']}</p><hr/><p>This is an automated alert from CSA-in-a-Box. Please investigate immediately.</p>",
                      "Importance": "High"
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]",
                "connectionName": "[variables('teamsConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          },
          "teamsWebhookUrl": {
            "value": "[parameters('teamsWebhookUrl')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    }
  }
}
