portal/powerapps/logic-apps/source-registration-workflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "la-csa-source-registration",
      "metadata": {
        "description": "Name of the Logic App for source registration workflow."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App."
      }
    },
    "cosmosDbAccountName": {
      "type": "string",
      "metadata": {
        "description": "Cosmos DB account name for storing source metadata."
      }
    },
    "cosmosDbDatabaseName": {
      "type": "string",
      "defaultValue": "csainabox",
      "metadata": {
        "description": "Cosmos DB database name."
      }
    },
    "cosmosDbContainerName": {
      "type": "string",
      "defaultValue": "sources",
      "metadata": {
        "description": "Cosmos DB container for source registrations."
      }
    },
    "dataFactoryResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the Azure Data Factory instance."
      }
    },
    "notificationEmail": {
      "type": "string",
      "metadata": {
        "description": "Email address to notify on new source registrations."
      }
    }
  },
  "variables": {
    "cosmosDbConnectionName": "[concat('cosmosdb-', parameters('logicAppName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('logicAppName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('cosmosDbConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Cosmos DB Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'documentdb')]"
        },
        "parameterValues": {
          "databaseAccount": "[parameters('cosmosDbAccountName')]",
          "accessKey": "[listKeys(resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName')), '2023-04-15').primaryMasterKey]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Connection",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "project": "csa-inabox",
        "component": "portal",
        "workflow": "source-registration"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('cosmosDbConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "source_type": { "type": "string" },
                    "domain": { "type": "string" },
                    "classification": { "type": "string" },
                    "connection": { "type": "object" },
                    "ingestion": { "type": "object" },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "email": { "type": "string" },
                        "team": { "type": "string" }
                      }
                    },
                    "tags": { "type": "object" }
                  },
                  "required": ["name", "source_type", "domain", "owner"]
                },
                "method": "POST"
              }
            }
          },
          "actions": {
            "Initialize_Source_ID": {
              "type": "InitializeVariable",
              "runAfter": {},
              "inputs": {
                "variables": [
                  {
                    "name": "sourceId",
                    "type": "string",
                    "value": "@{guid()}"
                  }
                ]
              }
            },
            "Initialize_Timestamp": {
              "type": "InitializeVariable",
              "runAfter": {
                "Initialize_Source_ID": ["Succeeded"]
              },
              "inputs": {
                "variables": [
                  {
                    "name": "timestamp",
                    "type": "string",
                    "value": "@{utcNow()}"
                  }
                ]
              }
            },
            "Validate_Source_Metadata": {
              "type": "Compose",
              "runAfter": {
                "Initialize_Timestamp": ["Succeeded"]
              },
              "inputs": {
                "isValid": "@and(not(empty(triggerBody()?['name'])), not(empty(triggerBody()?['source_type'])), not(empty(triggerBody()?['domain'])))",
                "validationErrors": []
              }
            },
            "Condition_Is_Valid": {
              "type": "If",
              "runAfter": {
                "Validate_Source_Metadata": ["Succeeded"]
              },
              "expression": {
                "and": [
                  {
                    "equals": ["@outputs('Validate_Source_Metadata')?['isValid']", true]
                  }
                ]
              },
              "actions": {
                "Store_in_Cosmos_DB": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "[concat('/v2/cosmosdb/', parameters('cosmosDbAccountName'), '/dbs/', parameters('cosmosDbDatabaseName'), '/colls/', parameters('cosmosDbContainerName'), '/docs')]",
                    "body": {
                      "id": "@variables('sourceId')",
                      "name": "@triggerBody()?['name']",
                      "description": "@triggerBody()?['description']",
                      "source_type": "@triggerBody()?['source_type']",
                      "domain": "@triggerBody()?['domain']",
                      "classification": "@coalesce(triggerBody()?['classification'], 'internal')",
                      "connection": "@triggerBody()?['connection']",
                      "ingestion": "@triggerBody()?['ingestion']",
                      "owner": "@triggerBody()?['owner']",
                      "tags": "@coalesce(triggerBody()?['tags'], json('{}'))",
                      "status": "draft",
                      "created_at": "@variables('timestamp')",
                      "updated_at": "@variables('timestamp')"
                    }
                  }
                },
                "Send_Confirmation_Email": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Store_in_Cosmos_DB": ["Succeeded"]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@{triggerBody()?['owner']?['email']};@{parameters('notificationEmail')}",
                      "Subject": "CSA-in-a-Box: New Data Source Registered - @{triggerBody()?['name']}",
                      "Body": "<h2>New Data Source Registration</h2><p><strong>Name:</strong> @{triggerBody()?['name']}</p><p><strong>Type:</strong> @{triggerBody()?['source_type']}</p><p><strong>Domain:</strong> @{triggerBody()?['domain']}</p><p><strong>Registered by:</strong> @{triggerBody()?['owner']?['name']} (@{triggerBody()?['owner']?['email']})</p><p><strong>ID:</strong> @{variables('sourceId')}</p><p>The source has been registered and is pending review.</p>",
                      "Importance": "Normal"
                    }
                  }
                },
                "Success_Response": {
                  "type": "Response",
                  "runAfter": {
                    "Send_Confirmation_Email": ["Succeeded"]
                  },
                  "inputs": {
                    "statusCode": 201,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "id": "@variables('sourceId')",
                      "status": "draft",
                      "message": "Source registered successfully.",
                      "created_at": "@variables('timestamp')"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Validation_Error_Response": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 400,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "error": "Validation failed",
                        "message": "Required fields: name, source_type, domain, owner."
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('cosmosDbConnectionName'))]",
                "connectionName": "[variables('cosmosDbConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'documentdb')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppCallbackUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_HTTP_request_is_received'), '2019-05-01').value]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    }
  }
}
